<header>
    <div class="head-logo">
          <img src="./assets/image/linking/logo.jpg" alt="Logo"> 
          <div class="ava-qa">
            <div>Core Java Interview</div>
            <div>Advance Java Interview</div>
            <div routerLink="/springboot">SpringBoot Interview</div>
            <div>Spring Interveiw</div>
           
          </div>
          <div class="ava-qa">
            <div>Relational Database</div>
            <div>Non-Relational Interview </div>
            <div>DevOps Interview</div>
          </div>
    </div>

    <div class="head-element">

        <div routerLink="/homepage">Home</div>
        <div>About Us</div>
        <div>Connect Us</div>
    </div>
</header>
