<header>
    <div class="head-logo">
          <img src="./assets/image/linking/logo.jpg" alt="Logo"> 
          <div class="ava-qa">
            <div>Core Java Interview QA</div>
            <div>Advance Java Interview QA</div>
            <div routerLink="/springboot">SpringBoot Interview QA</div>
            <div>Spring Interveiw QA</div>
           
          </div>
          <div class="ava-qa">
            <div>Relational Database Interview QA</div>
            <div>Non-Relational Interview QA</div>
            <div>DevOps Interview QA</div>
          </div>
    </div>

    <div class="head-element">

        <div>Home</div>
        <div>About Us</div>
        <div>Connect Us</div>
    </div>
</header>
