
<div class="footer">

    <mat-toolbar>
        
    <p>copyright&copy;:2023-Chet Bhandari</p>

      <span class="spacer"></span>
  
      <!-- Social Media Icons -->
      <a href="https://facebook.com" target="_blank" mat-icon-button>
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://twitter.com" target="_blank" mat-icon-button>
        <mat-icon>X</mat-icon>
      </a>
      <a href="https://linkedin.com" target="_blank" mat-icon-button>
        <mat-icon>linkedin</mat-icon>
      </a>
  
      <!-- Additional Link -->
      <a href="/interview-questions" class="additional-link">
        Resume
      </a>
      <a href="/interview-questions" class="additional-link">
        Coverletter
      </a>
    </mat-toolbar>
 
</div>