<section>
    <p><span>E</span>mbarking on a job hunt? The interview process, especially in the tech industry, can be incredibly daunting. From startups to Fortune 500 giants, companies are constantly upping their game when it comes to testing potential hires. But worry not, fellow coder! The Q.A (Question and Answer) site has got your back. Tailored for interviewees of all experience levels, this platform offers a treasure trove of resources to ensure you shine during that crucial coding round. Whether you're a newbie or a seasoned developer, Q.A provides the practice you need to walk into your interview with confidence. Let's decode your dream job together!</p>
  </section>
  
<div class="img-row">
<img src="./assets/corejava.png" alt="Core Java">
<img src="./assets/mysql.png" alt="Spring">
<img src="./assets/springboot.png" alt="Springboot">
<img src="./assets/mongodb.jpg" alt="Springboot">
</div>

<article>
    <p>Learn Online And Secure <br>
    Your Job Now.</p>
</article>

<article>
    <h3>
        Question here are compnay standard that will help you<br>
        to lend your dream Job.
    </h3>
   
</article>

    <div class="btn-info">
        <button>Courses</button> 
        <button>Blog</button>
        <button>Resources</button>
    </div>
<div class="img-fanng">
    <img src="./assets/fanng.jpg" alt="FAANG Logo">
</div>