<section>
    <p><span>E</span>mbarking on a job hunt? The interview process, especially in the tech industry, can be incredibly daunting. From startups to Fortune 500 giants, companies are constantly upping their game when it comes to testing potential hires. But worry not, fellow coder! The Q.A (Question and Answer) site has got your back. Tailored for interviewees of all experience levels, this platform offers a treasure trove of resources to ensure you shine during that crucial coding round. Whether you're a newbie or a seasoned developer, Q.A provides the practice you need to walk into your interview with confidence. Let's decode your dream job together!</p>
  </section>
  
<div class="img-row">
<a href="https://docs.oracle.com/en/java/" target="_blank"><img src="./assets/corejava.png" alt="Core Java"></a>
<a href="https://dev.mysql.com/doc/" target="_blank"><img src="./assets/mysql.png" alt="Spring"></a>
<a href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#documentation" target="_blank"><img src="./assets/springboot.png" alt="Springboot"></a>
<a href="https://www.mongodb.com/docs/" target="_blank"><img src="./assets/mongodb.jpg" alt="MongoDB"></a>
</div>

<article>
    <p>Learn Online And Secure <br>
    Your Job Now.</p>
</article>

<article>
    <h3>
        Question here are company standard that will help you<br>
        to lend your dream Job.
    </h3>
   
</article>

    <div class="btn-info">
        <button (click)="getCourse()">Courses</button> 
        <button (click)="getBlog()">Blog</button>
        <button (click)="getResources()">Resources</button>
    </div>
<div class="img-fanng">
    <img src="./assets/fanng.jpg" alt="FAANG Logo">
</div>

<section class="con-us">
   <p>
    Struggling with interview prep? Dive into our comprehensive Q&A platform.<br> For any queries, don't hesitate to connect with us!"
   </p>
   <div class="con-btn">
      <button>Connect</button>
   </div>
</section>

<div id="prp-int">
     <label for="info">Article that build confidence in Interview.</label>
</div>
<div class="img-art-container">
    <div class="img-art-int">
       <a href="https://www.helpguide.org/articles/work/interviewing-techniques-and-tips.htm" target="_blank"><img src="./assets/interview1.jpg" alt="Spring"><span class="txt">How to prepare for Job Interview So they are Convince.</span></a> 
      </div>
      <div class="img-art-int">
       <a href="https://summitstaffing.com/blog/how-to-impress-a-recruiter/" target="_blank"><img src="./assets/rules.jpg" alt="Spring"><span class="txt">Strong 8 rules that need to follow to impress recuirter.</span></a>  
       </div>
       <div class="img-art-int">
        <a href="https://in.indeed.com/career-advice/interviewing/interview-preparation" target="_blank"><img src="./assets/whentosay.jpg" alt="Spring"><span class="txt">Right preparation when and what to saying during interview.</span></a>
       </div>
</div>
<div class="soft-skill">
  <img src="./assets/softskill.jpg" alt="Soft Skill">
  <div class="skill-set">
     <a *ngFor="let link of links" [href]="link.url" target="_blank">{{link.title}}</a>
  </div>
</div>

<div class="video-container">
    <h2>Some Useful Video Links that can assist in your hardwork.</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=2uM7gYuOvr4&pp=ygUpbWFzdGVyaW5nIGJlaGF2aW9yYWwgaW50ZXJ2aWV3IHF1ZXN0aW9ucyA%3D" target="_blank">"Mastering Behavioral Interview Questions"</a> - This video provides insights into the STAR method and how to tackle behavioral questions effectively.</li>
        <li><a href="https://www.youtube.com/watch?v=n9baKDP91ko&pp=ygUiSG93IHRvIEFuc3dlciBUZWNobmljYWwgUXVlc3Rpb25zIg%3D%3D" target="_blank">"How to Answer Technical Questions"</a> - Whether you're from a technical background or not, this video offers great tips on breaking down complex problems.</li>
        <li><a href="https://www.youtube.com/watch?v=eza-l-kBK40&pp=ygU9aG93IHRvIGFuc3dlciBub24gdGVjaG5pY2FsIGludGVydmlldyBxdWVzdGlvbnMgZm9yIGRldmVsb3Blcg%3D%3D" target="_blank">10 Things You Should Avoid Revealing In A Job Interview - Interview Tips </a>It will Enhance your ability to judge what say or not during interview. </li>
        <li><a href="https://www.youtube.com/watch?v=PCWVi5pAa30&pp=ygUhQm9keSBMYW5ndWFnZSBUaXBzIGZvciBJbnRlcnZpZXdz" target="_blank">"Body Language Tips for Interviews"</a> - Mastering non-verbal cues can be just as important as the answers you provide. Get some professional insights here.</li>
        <li><a href="https://www.youtube.com/watch?v=guUOmfq303s&pp=ygUrVW5kZXJzdGFuZGluZyB0aGUgSW50ZXJ2aWV3ZXIncyBQZXJzcGVjdGl2ZQ%3D%3D" target="_blank">"Understanding the Interviewer's Perspective"</a> - Dive into the other side of the table and understand what interviewers are really looking for.</li>
        <li><a href="https://www.youtube.com/watch?v=4uIj-5uHWnE&pp=ygUaTmVnb3RpYXRpbmcgWW91ciBKb2IgT2ZmZXI%3D" target="_blank">"Negotiating Your Job Offer"</a> - Once you've cracked the interview, it's essential to know how to negotiate your package effectively. Learn the art of negotiation with this video.</li>
    </ul>
   
</div>