* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

/*
this line of code is used to show the toggle button in html page for li element but now its commented becaue default and summary tag in html do same thing without writing lot of code
.exp-yrs {
    padding: 1.3rem;
    background-color: rgb(181, 181, 227);
    display: flex;
    flex-direction: column;
    font-size: 16px; 
    cursor: pointer; 
}
.exp-yrs > div span {
    display: inline-block;
    transition: transform 0.3s ease;
  
}

ul li {
    list-style: none;
    
}
*/

details{
    padding: 1.3rem;
    background-color: rgb(181, 181, 227);
    cursor: pointer;
    
}
ul li {
    list-style: none;
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px inset;
    width: fit-content;
    margin-top: 3px;
    background: linear-gradient(90deg, #eaeaea, #f7f7f7, #eaeaea, #cfcfcf, #eaeaea);
}

@media  screen and (max-width:640px) {
    
    details{
        padding: auto;
      

    }
    ul{
        display: flex;
        gap: 1rem;
        margin-top: 5px;
    }

    ul li{
        padding: 0.3rem;
        
    }
}