
<!-- the below code is trying to turn arrow manually since same thing will be achieved using details and summary to it is now commented

<div class="exp-yrs">
    <div (click)="toggleList()">
      Year Of Experience 
      <span [style.transform]="isExpanded ? 'rotate(90deg)' : 'rotate(0deg)'">>></span>
    </div>
    
    <ul *ngIf="isExpanded">
      <li>2yrs</li>
      <li>3yrs</li>
      <li>4yrs</li>
      <li>5yrs</li>
    </ul>
  </div>

-->

  <details [open]="isDetailsOpen">
  <summary>Spring-Boot Year Of Experience</summary>
  <ul>
    <li routerLink="/springboot/2yrs">2yrs</li>
    <li routerLink="/springboot/3yrs">3yrs</li>
    <li routerLink="/springboot/4yrs">4yrs</li>
    <!--
    <li>5yrs</li>
    <li>6yrs</li>
    -->

  </ul>
</details>

<div class="sect-for-img">
  
    <img src="./assets/springboothomepage.jpg" alt="Spring Boot Content">
    <img src="./assets/springboot.png" alt="SpringBoot">
       <p>
        Are you prepping for that pivotal Spring Boot interview? We get it – diving into years' worth of Spring Boot intricacies can be a bit overwhelming. But don't worry, we've got your back! Explore the section above titled <a href="javascript:void(0)" (click)="toggleDetails()">  "Spring Boot Year Of Experience." </a> By clicking on it, a dropdown will appear, letting you choose interview questions tailored to the specific number of years you've been working with Spring Boot. Whether you're just starting out with its powerful microservices or have been orchestrating complex, cloud-native applications, our collection caters to every expertise level. Remember, in the world of Spring Boot, every year of experience counts and has its unique set of challenges. Let's tackle them together and ensure you're fully equipped for that next big interview!
       </p>

  </div>